body {
    background-color: thistle;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14pt;
}

#root {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

header {
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: 'Srisakdi', cursive;
    font-size: 2em;
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
}

#messages {
    flex-direction: column-reverse;
    justify-content: flex-end;
    overflow-y: auto;
}

.button {
    background-color: grey;
    margin: 5px;
}
.button:hover{
    cursor: pointer;
}

#birdsCount{
    background-color: lightgreen;
}