body {
    font-family: 'Courier New', Courier, monospace;
    background-image: url('./img/bird-bg.jpg');
    background-repeat: repeat;
}

#root {
    display: grid;
    grid-template-columns: auto auto 1fr;
    grid-template-rows: auto 1fr;
    width: 90vw;
    margin: 0 auto;
    padding: 10px;
    max-height: 100vh;
}

header, #counters, #messages, .button {
    background-color: rgb(185, 134, 185);
    border: 2px solid black;
    border-radius: 15px;
}

header, .column {
    margin: 5px;
}

header {
    grid-column-start: 1;
    grid-column-end: 4;
    font-family: 'Srisakdi', cursive;
    text-align: center;
}

.column {
    display: flex;
    flex-direction: column;
    font-size: 12pt;
}

#messages {
    flex-direction: column-reverse;
    justify-content: flex-end;
}

span {
    display: inline-block;
    margin: 5px;
    padding: 5px;
}

.button {
    background-color: grey;
}
.button:hover{
    cursor: pointer;
}

@media(orientation: portrait){
    #root{
        grid-template-columns: auto auto;
    }

    #header, #messages{
        grid-column-start: 1;
        grid-column-end: 3;
    }
}